////////////////////////////////////////////////////////////////
//
//  QUADRON | ©PRAKT + DOPLUS
//
////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////
//
//  VARIABLES GLOBALES
//
////////////////////////////////////////////////////////////////

$gb_transition_time: .2s;
$gb_transition_easing: ease-out;

// NOIR ET BLANC
$gb_color_1: #fff;      // blanc
$gb_color_2: #000;      // noir

// BLEU
$gb_color_bleu_1: #0074BD;   

// GRIS
$gb_color_gris_1: #f5f5f5;
$gb_color_gris_2: #c8c8c8;

$gb_font: Helvetica, Arial, sans-serif;
