////////////////////////////////////////////////////////////////
//
//  QUADRON | ©PRAKT + DOPLUS
//
////////////////////////////////////////////////////////////////

////////////////////////////////////////////////////////////////
//
//  FONTS
//
////////////////////////////////////////////////////////////////

@font-face {
	font-family: 'NomFont';
	src: url('../font/nom_font.eot');
	src: local('☺'), 
	url('../font/nom_font.eot?#iefix') format('embedded-opentype'), 
	url('../font/nom_font.woff') format('woff'), 
	url('../font/nom_font.ttf') format('truetype'), 
	url('../font/nom_font.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}