<header id="header">
    <!-- CONNEXION USER - front only -->
    <div id="form-login">
            <form action="{{ path('fos_user_security_check') }}" method="post">
                    <div class="champs-login colx3">
                            <div class="colx2">
                                    <div class="margin">
                                            <input type="text" id="username" name="_username" placeholder="Identifiant">
                                    </div>
                            </div>
                            <div class="colx2">
                                    <div class="margin">
                                            <input type="password" id="password" name="_password" placeholder="Mot de passe">
                                    </div>
                            </div>
                    </div>
                    <div class="submit-login col2-3">
                            <div class="margin">
                                    <input type="submit" id="user-submit" class="form-submit" name="user-submit" value="OK">
                            </div>
                    </div>
                    <div class="clear"></div>
            </form>
    </div>
    <!-- / CONNEXION USER -->
</header>