
        <form action="{{ path("fos_user_security_check") }}" method="post" accept-charset="UTF-8">
                <div class="champs-login colx3">
                        <div class="colx2">
                                <div class="margin">
                                        <input type="text" id="login" name="login" placeholder="Identifiant">
                                </div>
                        </div>
                        <div class="colx2">
                                <div class="margin">
                                        <input type="password" id="mdp" name="mdp" placeholder="Mot de passe">
                                </div>
                        </div>
                </div>
                <div class="submit-login col2-3">
                        <div class="margin">
                                <input type="submit" id="user-submit" class="form-submit" name="user-submit" value="OK">
                        </div>
                </div>
                <div class="clear"></div>
        </form>