{% extends "DoplusParatronicBundle::layout.html.twig" %}

{% block title %} Accueil |{{ parent() }} {% endblock %}
{% block content %}
    <div id="cgv">

	<h1><span class="main">CONDITIONS GÉNÉRALES D’UTILISATION ET DE VENTE</span></h1>
        
	<div class="main">
                <p style="margin-top:30px;"><a href="http://paratronic.doplus.pro/">← Retour à l'accueil</a></p>
		<h2>I - OBJET ET CHAMP D’APPLICATION</h2>

		<p>Les présentes conditions générales ont pour objet de définir les termes et conditions applicables aux services fournis par PARATRONIC dans le cadre de l’accès au superviseur web.
		<br />Par ces services, PARATRONIC contribue à la collecte et au stockage de données en provenance de matériel PARATRONIC « LNS ».
		<br />Ces données peuvent concerner la détection des inondations et la variation des niveaux d’eau ou toutes autres données.
		<br />L’intervention de PARATRONIC pourra se situer de la fourniture et vente de matériels, de la création et animation d’un site de centralisation et de stockage de données électroniques, et le cas échéant de prestations de service avancées et réservées aux exploitants ayant souscrit un abonnement particulier.</p>
		<p>Toute commande de matériel implique l’acceptation sans réserve par l’acheteur et son adhésion pleine et entière aux conditions générales de vente spécifiques, et aux présentes conditions générales, si l’acheteur utilise les services de stockage de données électroniques et services éventuels associés.</p>
		<p>Les conditions générales spécifiques de vente et les présentes conditions générales prévalent sur tout autre document de l’acheteur, sauf dérogation expresse de PARATRONIC.</p>
		<p>Les présentes conditions générales s’appliqueront à la centralisation et stockage d’information dans une base de données dédiée, à l’accès à ladite base de données, ainsi qu’à l’utilisation de ladite base de données.</p>
		<p>Elles s’appliqueront également aux services complémentaires proposés par PARATRONIC au titre des fonctions avancées réservées aux exploitants.</p>

		<h2>II - VENTE DE MATÉRIELS</h2>

		<h3>ARTICLE 1 : COMMANDE </h3>
		<p>PARATRONIC vend et distribue des matériels pouvant être utilisés sous la responsabilité et suivant des besoins prédéfinis et propres à chaque utilisateur, pour suivre notamment les variations de niveau d’eau et la détection d’inondation éventuelle.</p>
		<p>Ces matériels sont constitués d’une centrale d’acquisition équipée de capteurs connectés et d’un moyen de transmission adapté.</p>
		<p>Il peut y être associé un système d’alarme local à définir suivant les demandes de l’utilisateur de type sirène, gyrophare….</p>

		<h3>ARTICLE 2 : CONDITIONS GÉNÉRALES DE VENTE APPLICABLES</h3>
		<p>L’acquisition de matériel sera soumise aux conditions de vente spécifiques à la commande du matériel et aux présentes conditions générales si l’acquéreur veut bénéficier de la solution développée par PARATRONIC de centralisation et de stockage des enregistrements et données électroniques et aux prestations annexes dédiée audit matériel.</p>

		<h3>ARTICLE 3 : DÉTERMINATION DES BESOINS</h3>
		<p>PARATRONIC n’est aucunement un professionnel de l’instrumentation, ni un expert de l’hydrologie ni un bureau d’étude.</p>
		<p>En conséquence, l’acheteur procèdera au choix et à l’acquisition du matériel sous sa propre responsabilité, en fonction de ses propres besoins pré-établis.</p>
		<p>L’acheteur fera le cas échéant réaliser par ses propres soins ou par tout professionnel de son choix, à une étude de ses besoins, permettant, sous sa seule responsabilité, la détermination du matériel acquis.</p>

		<h3>ARTICLE 4 : FONCTIONNEMENT ET INSTALLATION</h3>
		<p>L’acheteur reconnait avoir été informé des conditions de fonctionnement et d’utilisation du matériel qu’il reconnait ainsi parfaitement connaitre.</p>
		<p>L’acheteur reconnait avoir téléchargé un manuel d’utilisation du matériel à l’adresse www.paratronic.fr rubrique téléchargement.</p>
		<p>PARATRONIC ne procède en aucun cas à l’installation et la mise en route du matériel.</p>
		<p>L’acheteur procédera à l’installation du matériel, soit par ses propres soins et en conséquence il reconnait avoir les compétences nécessaires, soit par tout professionnel dont il aura fait choix sous sa seule responsabilité.</p>
		<p>L’acheteur reconnait avoir la compétence pour l’utilisation le fonctionnement du matériel, et disposer de préposé ayant reçu toute formation utile ; le cas échéant l’acheteur sollicitera de son installateur toute formation adéquate tant pour lui-même que pour ses préposés.</p>

		<h3>ARTICLE 5 : ENTRETIEN MAINTENANCE ET RÉPARATION</h3>
		<p>PARATRONIC ne sera débiteur d’aucune obligation d’entretien de maintenance et de réparation.</p>
		<p>L’acheteur fera son affaire personnelle de l’entretien, la maintenance et la réparation du matériel, soit en déclarant qu’il dispose des compétences internes soit en souscrivant auprès de tout professionnel un contrat adéquat.</p>

		<h3>ARTICLE 6 : GARANTIE</h3>
		<p>PARATRONIC ne sera débiteur que des obligations légales applicables au contrat de vente du matériel.</p>
		<p>PARATRONIC n’est en aucun cas débiteur d’une quelconque obligation relative à l’installation, mise en route, fonctionnement et surveillance du matériel.</p>
		<p>La garantie de PARATRONIC se limitera au remplacement ou à la réparation des pièces défectueuses, dès lors qu’il est démontré que le dysfonctionnement a pour origine un vice intrinsèque du matériel.</p>
		<p>La garantie ne sera pas due dès lors que le matériel a été modifié, transformé, ou non entretenu ou en cas d’usage anormal.</p>
		<p>La garantie ne sera pas due dès lors que l’acheteur n’aura pas averti du vice allégué dans un délai de 20 jours francs à partir de sa découverte.</p>
		<p>Il incombe à l’acheteur de prouver le jour de cette découverte. </p>
		<p>La garantie ne sera pas due en cas de force majeure ou cas fortuit ou provenant d’un tiers.</p>

		<h2>III - COLLECTE ET STOCKAGE DE DONNÉES ÉLECTRONIQUES</h2>
		<p>DÉFINITIONS :</p>
		<p><u>Utilisateur</u> : toute personne se rendant sur la partie public du site web
		<br /><u>Abonné</u> : Utilisateur qui transmet ses propres données à la base PARATRONIC
		<br /><u>Client</u> : Abonné qui a souscrit à un ou des modules complémentaires
		<br /><u>Base de données</u> : Solution informatique de collecte et de gestion de données
		<br /><u>Site web Publique</u> : Interface de présentation de l’ensemble des stations présente dans la base de données et de la dernière mesure collectée pour chaque capteur actif, notamment au travers d’une géolocalisation disponible à l’adresse : http://superviseur.paratronic.com
		<br /><u>Modules complémentaires</u> : Ensemble de fonctions avancées permettant entre autre une gestion privative des historiques de mesure par tableau graphique ou export, l’administration du service et des niveaux d’alerte personnalisable.)
		<br /><u>Mesure</u> : donnée relevée et enregistrée par le matériel PARATRONIC de type centrale d’acquisition LNS.
		<br />PARATRONIC a créé une base de données centralisant les enregistrements d’exploitants et utilisateurs de matériels PARATRONIC de type centrale d’acquisition LNS.</p>
		<p>La centrale d’acquisition procède à des mesures et enregistrements de données pouvant être utilisés et gérés soit directement par l’utilisateur, soit transférés à la base de données gérée par PARATRONIC dans les conditions des présentes conditions générales d’utilisation par tout abonné.</p>
		<p>PARATRONIC assemble et organise ainsi de façon systématique les données de ses abonnés au sein d’une base de données originale.</p>
		<p>L’abonné souhaite disposer d’un droit d’utilisation de la base de données.</p>

		<h3>ARTICLE 1 : ABONNEMENT</h3>
		<p>Tout utilisateur qui souhaiterait alimenter la base de données PARATRONIC doit souscrire un abonnement.
		<br />L’abonnement, souscrit dans les conditions ci-après, est gratuit.
		<br />Il permet l’alimentation de la banque de données constituée de la centralisation et du stockage de l’ensemble des informations transmises depuis les matériels connectés appartenant à des propriétaires ou exploitants abonnés.
		<br />Il permet la consultation de la dernière mesure de chaque capteur de chaque station connectée dans les mêmes conditions que tout utilisateur
		<br />Les abonnés pourront souscrire de manière facultative à des prestations et modules complémentaires.</p>

		<h3>ARTICLE 2 : DROIT D’UTILISATION DES DONNÉES ET PROPRIÉTÉ INTELLECTUELLE</h3>
		<p>L’utilisateur reconnait que PARATRONIC possède tout droit, titre et intérêt sur le service.</p>
		<p>PARATRONIC est titulaire des droits d’auteur sur cette base de données, notamment en application de l’article L112-3 du Code de la Propriété Intellectuelle.</p>
		<p>PARATRONIC dispose en outre, en sa qualité de producteur de ladite base de données, du droit sui generis au sens des articles L341-1 et suivants du Code de la Propriété Intellectuelle, protégeant ladite base de données, notamment contre toute extraction ou réutilisation substantielle du contenu de celle-ci.</p>
		<p>En conséquence, l’utilisateur est informé du fait que l’architecture de la base de données, sa présentation, son agencement et son contenu, sont protégés par le droit d’auteur.</p>
		<p>L’utilisateur dispose d’un simple droit d’usage sur ladite base de données pour ses besoins internes.</p>
		<p>lors, l’utilisateur ne dispose d’aucun droit de reproduire, adapter, traduire, ni représenter la base de données.</p>

		<h3>ARTICLE 3 : DROIT RELATIF À LA RÉUTILISATION DES DONNÉES</h3>
		<p>L’utilisateur n’est en aucun cas autorisé à réutiliser (c’est-à-dire mettre à disposition du public) tout ou partie des données issues de la base de données, sous quelque forme que ce soit et pour quelle que raison que ce soit.</p>
		<p>Il n’est pas dès lors autorisé à louer, vendre, sous-louer, distribuer, céder, transférer, licencier ou autrement partager la base de données, ni à réutiliser les données résultant de l’utilisation de ladite base de données.</p>
		<p>En conséquence l’utilisateur n’est pas autorisé : </p>
		<ul>
			<li>-	à utiliser la base de données dans le but de créer une nouvelle base de données, </li>
			<li>-	à manipuler ou utiliser la banque de données d’une manière qui pourrait directement ou indirectement concurrencer ou causer un préjudice à PARATRONIC, </li>
			<li>-	à transférer les données vers ou sur une ou plusieurs autres bases de données, </li>
			<li>-	à réutiliser les données en vue d’un usage autre que strictement nécessaire à ses besoins internes.</li>
		</ul>
		<p>L’utilisateur s’interdit de modifier ou de créer une œuvre dérivée de la base de données sans l’accord écrit et préalable de PARATRONIC.</p>
		<p>L’abonné reste soumis aux mêmes restrictions que l’utilisateur hormis sur ses données provenant de son matériel PARATRONIC LNS.</p>

		<h2>IV – SERVICES DÉDIÉS AUX MATÉRIELS CONNECTÉS</h2>
		<p>Les propriétaires exploitant de matériels PARATRONIC LNS connectés, dénommés abonnés, pourront confier la centralisation et le stockage de leurs données à PARATRONIC sur le présent site. </p>
		<p>Dans cette hypothèse, l’ensemble des présentes conditions générales sont applicables, outre les dispositions de la présente partie.</p>

		<h3>ARTICLE 1 : CENTRALISATION ET STOCKAGE DES DONNÉES</h3>
		<p>La propriété d’un matériel connecté s’abonnant au superviseur en ligne PARATRONIC accepte que l’ensemble des enregistrements de ses matériels connectés, soit centralisé et stocké sur la base de données PARATRONIC.</p>
		<p>L’ensemble des données ainsi collecté alimentera la base de données PARATRONIC et chaque donnée courante sera accessible à l’ensemble des utilisateurs et abonnés. Les clients auront accès à un historique de l’ensemble de leurs données transmises sur une profondeur déterminée.</p>
		<p>Les données ainsi collectées deviendront partie intégrante de la base de données PARATRONIC.</p>
		<p>Le propriétaire du matériel connecté renonce sans réserve à revendiquer une quelconque propriété ou droit de quelque nature qu’il soit sur les données ainsi confiées et transférées automatiquement.</p>
		<p>Ne seront accessibles, pour le propriétaire du matériel connecté, en ligne et sans souscriptions complémentaires, que les données courantes.</p>
		<p>PARATRONIC gèrera la création et le paramétrage du compte abonné, les accès et limitations liés au niveau de service souscrit suivant les indications souhaitées et communiquées par le client et déterminées par lui sous sa seule responsabilité.</p>

		<h3>ARTICLE 2 : MODULES COMPLEMENTAIRES </h3>
		<p>L’abonné pourra devenir client par souscription d’un abonnement complémentaire, dans les conditions ci-après définies, s’il souhaite accéder à des services spécifiques sur le traitement de ses propres données transférées tel que :</p>
		<ul>
			<li>- travailler sur un historique des données d’une année,</li>
			<li>- visualiser ses 5 dernières photos et sa dernière vidéo transmises</li>
			<li>- gérer des seuils d’alerte et des transmissions d’alertes. </li>
		</ul>
		<p>PARATRONIC se réserve la possibilité de gérer, ajouter ou supprimer toute prestation complémentaire liée au traitement spécifique des données confiées.
		<br />PARATRONIC gèrera la création et le paramétrage du compte client, les accès et limitations  liés au niveau de service souscrit.
		<br />PARATRONIC fournira un module d’administration à chaque client lui permettant dans la limite des services souscrits de gérer l’ensemble des paramètres liés à son compte et la personnalisation de son espace privatif.
		<br />Ce module permet :
		<br />La création d’utilisateur et la personnalisation de leur page dédiée.
		<br />La création et géolocalisation de stations et la personnalisation de leur page dédiée.
		<br />Le paramétrage des seuils d’alerte des capteurs et la personnalisation de leur page dédiée.
		<br />Le client effectuera son propre paramétrage sous sa propre responsabilité st suivant ses propres besoins.</p>

		<h3>ARTICLE 3 : MISE EN ŒUVRE D’UNE ALERTE</h3>
		<p>Le propriétaire de station LNS et clients ayant souscrits au module d’alarme pourront définir un seuil de déclanchement et gérer les destinataires et média soit au niveau de la station elle-même, soit le superviseur en ligne.
		<br />Ses alarmes seront indépendantes les unes des autres.
		<br />Les paramétrages nécessaires seront réalisés par le propriétaire ou son installateur sous sa propre responsabilité. Les définitions des seuils et les modes de transmission sont laissés au libre choix du client ou de ses conseils.
		<br />L’obligation de PARATRONIC est limitée à l’envoi d’une alerte dans le respect du paramétrage tel que défini au moment de la connaissance de phénomène déclencheur.
		<br />En aucun cas PARATRONIC n’est tenu de vérifier que l’alerte a bien été réceptionnée, qu’elle a été traitée et que des secours ou solutions de quelconque nature, soient mis en œuvre.
		<br />Un mécanisme d’acquis permet de limiter la répétition d’alerte ayant déjà fait l’objet d’une alarme.
		<br />Le traitement de l’alerte et ses conséquences restent de la responsabilité de l’utilisateur.
		<br />PARATRONIC ne reste tenu que d’une obligation de moyen.</p>

		<h3>ARTICLE 4 : IDENTIFIANT </h3>
		<p>PARATRONIC adressera à l’abonné un mot de passe, un identifiant et les paramètres nécessaires lui permettant le dépôt de ses données.
		<br />PARATRONIC adressera au client un mot de passe et un identifiant lui permettant l’accès aux modules complémentaires auxquels il a souscrit.</p>
		<p>L’utilisateur reste seul responsable des identifiants de connexion et de toute utilisation frauduleuse de ceux-ci.</p>
		<p>En cas de perte, de vol ou de divulgation accidentelle, l’utilisateur doit immédiatement informer PARATRONIC qui adressera de nouveaux identifiants de connexion et mettra immédiatement en œuvre les mesures nécessaires afin d’empêcher toute connexion à partir des identifiants divulgués.</p>
		<p>Les frais éventuels de création et d’envoi des identifiants seront supportés par l’utilisateur.</p>

		<h2>V – DISPOSITIONS COMMUNES</h2>

		<h3>ARTICLE 1 : LOGICIEL DE NAVIGATION ET VÉRIFICATION DE COMPTABILITÉ</h3>
		<p>La base de données PARATRONIC est installée dans un data centre hébergeur.</p>
		<p>L’utilisation de la base de données requiert l’utilisation d’un navigateur internet, avec une configuration minimale qui sera communiquée par PARATRONIC.</p>
		<p>L’utilisateur fera un libre choix de son navigateur internet ; PARATRONIC ne pourra en aucun cas être inquiété s’agissant des difficultés de connexion qui pourrait résulter du choix d’un navigateur internet inadéquat ou insuffisant.</p>
		<p>Il appartient à l’utilisateur de vérifier la comptabilité de son système informatique afin de garantir un bon fonctionnement du service.</p>

		<h3>ARTICLE 2 : ACCÈS À LA BASE DE DONNÉES</h3>
		<p>Sous réserve de disposer des équipements nécessaires, l’accès à la base de données PARATRONIC s’effectue à l’adresse http://superviseur.paratronic.com </p>
		<p>PARATRONIC se réserve le droit de corriger les erreurs susceptibles d’affecter la base de données, sans que cela implique pour lui un engagement de fournir une quelconque assistance, maintenance ou service associé à la base de données (sauf service complémentaire prévu à la 4ème partie).</p>
		<p>PARATRONIC conserve également toute liberté concernant la gestion, l’architecture, la présentation et l’agencement de son site.</p>

		<h3>ARTICLE 3 : QUALITÉ DE SERVICE</h3>
		<p>PARATRONIC s’engage à déployer les moyens nécessaires afin d’assurer la permanence, la continuité et la qualité des services proposés.</p>
		<p>PARATRONIC reste toutefois tenue à une obligation de moyens.</p>
		<p>PARATRONIC s’efforcera de maintenir un accès au service chaque jour de l’année, sauf perturbation des réseaux échappant à son contrôle.</p>
		<p>Toutefois, PARATRONIC se réserve le droit d’interrompre l’accès au service exceptionnellement et brièvement afin d’effectuer d’éventuelles interventions de maintenance ou de sécurité.</p>
		<p>L’utilisateur s’engage à informer dans les meilleurs délais PARATRONIC de tout dysfonctionnement ou incident constaté sur le service, afin de permettre une amélioration du service ou son rétablissement dans les meilleurs délais.</p>

		<h3>ARTICLE 4 : MANIPULATION DES DONNÉES </h3>
		<p>L’utilisateur est informé que l’ensemble des données enregistré et stocké alimente la banque de données PARATRONIC.</p>
		<p>Elles deviennent ainsi partie intégrante de la base de données propriété de PARATRONIC et restent, dans leur globalité, accessibles à tout utilisateur.</p>
		<p>Les données informatiques personnelles des abonnements privés spécifiques ne seront accessibles que grâce à un identifiant et un mot de passe.</p>

		<h3>ARTICLE 5 : RÉVERSIBILITÉ DES DONNÉES</h3>
		<p>PARATRONIC s’assure que le client peut à tout moment télécharger des fichiers stockés sur le service pendant la période de validité de la souscription au module complémentaire ad hoc et pour un historique maximum de 1 an.</p>
		<p>Les abonnés simples non accès qu’a dernière la mesure de chaque capteur. Ces données sont géo localisées sur un fond de carte et non téléchargeables.</p>

		<h3>ARTICLE 6 : CONSERVATION DES DONNÉES</h3>
		<p>La base de données et le service PARATRONIC ne sont en aucun cas un système de sauvegarde.</p>
		<p>L’utilisateur s’engage à conserver un double de ses données ou d’effectuer ses propres sauvegardes de données personnelles.</p>

		<h3>ARTICLE 7 : RESPECT DE LA LOI</h3>
		<p>L’utilisateur se doit d’être en conformité avec la législation dans le cadre de l’utilisation du service.</p>
		<p>L’utilisateur ne doit pas utiliser le service pour le stockage de données non conforme à la législation en vigueur.</p>

		<h3>ARTICLE 8 : DYSFONCTIONNEMENT DU RÉSEAU INTERNET</h3>
		<p>L’utilisateur reconnait et accepte que le réseau internet, et plus généralement tout réseau télématique utilisé à des fins de transmission de données, peut connaitre des périodes de saturation en raison de l’encombrement de la bande passante, des coupures dues à des incidents techniques ou à des interventions de maintenance, de décision des sociétés gérant lesdits réseaux ou tout autre évènement indépendant de la volonté de PARATRONIC.</p>
		<p>En conséquence, la responsabilité de PARATRONIC est écartée en cas de dysfonctionnement ou d’interruption des prestations trouvant leur origine dans des évènements affectant les réseaux de communication et, plus généralement, tout évènement indépendant de sa volonté et échappant à son contrôle.</p>
		<p>PARATRONIC ne saurait pas plus être responsable du fait de détérioration ou pertes de données dues à un dysfonctionnement des réseaux ou toute autre raison indépendante de sa volonté et échappant et, d’une façon générale, de toute détérioration ou dysfonctionnement provenant d’une autre cause relevant de la force majeure.</p>
		<p>PARATRONIC sera autorisée à faire évoluer la base de données en fonction de l’évolution des techniques informatiques.</p>
		<p>Il pourra, à son seul choix, procéder à un changement de format ou de langage.</p>

		<h3>ARTICLE 9 : RÉFÉRENCES AU CLIENT</h3>
		<p>L’utilisateur autorise PARATRONIC à utiliser son nom et logo aux fins de sa propre promotion commerciale.</p>
		<p>L’utilisateur aura également le droit, suivant accord express et écrit, de faire référence de sa propre promotion commerciale au site PARATRONIC et à son nom commercial.</p>

		<h3>ARTICLE 10 : GARANTIE</h3>
		<p>PARATRONIC ne sera pas responsable vis-à-vis de l’utilisateur ou de quiconque et notamment client de ce dernier ou tiers, de toute perte ou dommage de quelque sorte que ce soit résultant :</p>
		<ul>
			<li>-	de l’utilisation de la base de données fournie par PARATRONIC et des données de cette base, </li>
			<li>-	d’erreurs ou d’omission dans les données de cette base, ainsi que du défaut de mise à jour de ces données, </li>
			<li>-	du contenu de ces données, ainsi que leur exactitude ou qualité intrinsèque, </li>
			<li>-	de toute autre circonstance survenant en liaison avec l’utilisation de la base de données et de toute mesure prise par l’utilisateur sur le fondement des données issu de la base de données.</li>
		</ul>
		<p>PARATRONIC ne garantit pas que les informations contenues dans la base de données sont exemptes d’erreur et ne garantit, en autre, ni la pertinence ni l’exhaustivité ni l’exactitude des informations.</p>
		<p>En conséquence, l’utilisateur reconnait qu’il utilise la base de données à ses risques et périls et qu’il réalise une vérification sous sa propre responsabilité.</p>
		<p>En tout état de cause, PARATRONIC n’est tenue d’aucune obligation de conseil à l’égard de l’utilisateur concernant les données fournies et le cas échéant le matériel utilisé.</p>
		<p>L’utilisateur est seul responsable de la détermination de ses besoins et des données auxquelles il souhaite avoir accès.</p>
		<p>PARATRONIC ne saurait non plus être tenue pour responsable d’évènement pouvant résulter de l’interprétation et de l’utilisation faite des données fournies dans le cadre de l’utilisation de la présente base de données.</p>

		<h3>ARTICLE 11 : ABONNEMENT</h3>
		<p>L’abonnement général est souscrit pour une durée d’un an à compter de la date de début de la prestation mentionnée sur tout document prévu à cet effet.</p>
		<p>A défaut de résiliation expresse, moyennant le respect d’un délai de prévenance de 3 mois par courrier recommandé avec accusé de réception, le service est renouvelable par tacite reconduction pour une nouvelle durée de 1 année.</p>
		<p>L’abonnement général aux services est gratuit.</p>
		<p>L’accès aux modules complémentaires pour les utilisateurs du matériel connecté est consenti moyennant le paiement d’une redevance.
		<br />La redevance sera déterminée contractuellement entre le client et PARATRONIC en fonction du nombre d’utilisateur, du nombre de station et des modules complémentaires rattachés au compte.</p>

		<h3>ARTICLE 12 : RÉSILIATION ANTICIPÉE DE L’ABONNEMENT</h3>
		<p>Le présent abonnement pourra être résilié par anticipation en cas de manquement par l’une des parties à une ou plusieurs de ses obligations, qui aura fait l’objet d’une mise en demeure par l’autre partie, par lettre recommandée avec accusé de réception.</p>
		<p>Dans l’hypothèse où ladite mise en demeure resterait sans effet au-delà d’un délai de 1 mois à compter de sa réception, l’abonnement pourra être résilié de plein droit et sans formalité judiciaire.</p>
		<p>Pour ce faire, la partie désirant se prévaloir de la résiliation de plein droit devra adresser à la partie défaillante une nouvelle lettre recommandée avec accusé de réception, la résiliation prenant effet suivant la date de sa première présentation.</p>
		<p>En cas de résiliation anticipée de l’abonnement, pour quelque cause que ce soit, les sommes dues à PARATRONIC seront immédiatement exigibles et facturées au prorata des prestations déjà effectuées sans possibilité d’exercer aucune compensation de quelque nature que ce soit.</p>
		<p>De même, en cas de résiliation du présent contrat pour quelque cause que ce soit, l’ensemble des données d’ores et déjà transféré à la base de données restera acquis à PARATRONIC.</p>
		<p>À la cessation de l’abonnement, quel qu’en soit la cause, l’utilisateur s’oblige à ne pas copier, reproduire en vue de leur communication à des tiers et plus généralement à ne pas réutiliser, divulguer, diffuser sous quelque forme que ce soit, traduire ou adapter les données obtenues en exécution de l’abonnement, ni d’en faire un quelconque usage susceptible de porter atteinte aux droits de PARATRONIC.</p>
		<p>L’utilisateur et l’abonné pourront toutefois conserver l’usage de leurs propres données enregistrées par le matériel et dont ils auront fait une sauvegarde.</p>

		<h3>ARTICLE 13 : DROIT APPLICABLES ET JURIDICTION COMPÉTENTE</h3>
		<p>Tout litige qui pourrait survenir à l’occasion des exécutions des présentes sera soumis au droit français et à la compétence exclusive du Tribunal de Commerce de Commerce de Lyon, et pour les non commerçants au Tribunal de Grande Instance de Lyon.</p>
		<p>En cas de litige, les parties se concerteront au préalable afin de trouver une solution amiable au problème les opposant.</p>
		<p style="margin-top:30px;"><a href="{{ path('doplus_paratronic_home_index') }}">← Retour à l'accueil</a></p>
	</div>	
        
</div>
<div class="clear"></div>
{% endblock %}