  <div id="form-login">
    {% if error %}
      <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}
    <form action="{{ path('fos_user_security_check') }}" method="post">
        <div class="champs-login colx3">
            <div class="colx2">
                    <div class="margin">
                        <input type="text" id="username" name="_username" value="{{ last_username }}" />
                    </div>
            </div>
            <div class="colx2">
                    <div class="margin">
                        <input type="password" id="password" name="_password" />
                    </div>
            </div>
        </div>
        <div class="submit-login col2-3">
            <div class="margin">
                <input type="submit" value="OK" class="form-submit">
            </div>
        </div>
        <div class="clear"></div>
    </form>
</div>
